<html>
<head>
  <link rel="stylesheet" href="/styles.css" type="text/css"/>
</head>
  <body id="loginBody">
    <div>
            <div style="text-align:center">
              <div class="header"></div>
              <div class="header-container">
              <b><h1 id="title">Host.ly</h1></b>
              <a href="/auth/google" style="text-align:center" class = "link">
              <img src="./assets/btn_google_signin_light_pressed_web@2x.png"></a>
              </div>


              <h1 style="text-align:center">Bringing friends together</h1>
              <br></br>
              <br></br>
            </div>

          <div class ="container">
            <div class ="col1">
              Invite your friends to upcoming events
            </div>

            <div class ="col2">
              Maintain a registry that allow your friends to claim items
            </div>

            <div class ="col3">
              Shop for items through our affiliates
            </div>
          </div>

    </div>
  <body>
</html>
